@import url("./styles/settings.css");
@import url("./styles/timeline.css");
@import url("./styles/skills.css");
@import url("./styles/interests.css");
@import url("./styles/header.css");


html, body {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: Cascadia Code,Inter,system-ui,Avenir,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--vscode-text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
}



body {
  margin-inline: auto;
  display: flex;
  flex-direction: column;

  > section {
  background-color: var(--background-color);
      width: min(1170px,calc(100% - 4em));
      align-self: center;
  }
}

section {
  display: flex;
  flex-direction: column;
  padding-inline: 1em;
}

filter-search {
  display: flex;
  padding-inline: 1em;

  > input {
    width: 100%;
    padding: 0.5em 1em;
  }
}

nav {
  background-color: var(--tabarea-background-color);
  border-top: .1em solid var(--border-color);
  min-height: 2em;
  display: flex;
  justify-content: center;

  > menu {
    display: flex;
    gap: 0em;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: start;
    height: 2em;

    > li {
      list-style: none;
      font-size: .8em;
      border-top: .1em solid transparent;
      border-top-color: transparent;
      padding: .6em 1em;
      min-height: 2.6em;
      border-right: .1em solid var(--border-color);
      color: var(--tab-text-color);
      border-top-color: var(--tab-selected-color);
      background-color: var(--editor-background-color);
      border-left: .1em solid var(--border-color);
    }
  }
}

picture.avatar {
  --max-size: 8em;
  margin-top: 1em;
  align-self: center;
  background-color: #d3d3d3;
  width: var(--max-size);
  height: var(--max-size);
  display: inline-flex;
  border-radius: .3em;
  overflow: hidden;
}


@media print {
  html, body, section {
    width: 100vw;
  }
  picture:not(.avatar) > img {
    display: none;
  }

  nav { display: none; }

  time-line {
    padding-inline: 0;
  }


  timeline-item {
    padding: 0 0;

    &::before {
      display: none;
    }
  }
}


@media print {
  .no-print {
    display: none;
  }

  .page-break {
    break-before: page; /* or break-after: page */
  }
}


alert-section {
}